<!DOCTYPE html>
<html>
    <head>
        <title>Find a restaurant</title>
        
        
        <!-- http://getbootstrap.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        
        <!-- http://jquery.com/ -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        
        <!-- app's own JavaScript -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        
        <!-- http://handlebarsjs.com/ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        
    </head>
    <body>
        <form class="main-form">
          <input type="text" name="location">
          <input type="text" name="country">
          <input type="submit" value="Submit">
        </form>
        <div id="youdid">teste</div>
    </body>
</html>